.footer{
    padding-top: 143px;
}

.bgGreyFooter{
    background-color: #F4F7FB;
    position: relative;
}

.footerContactsWrapper{
   display: flex;
}

.footerContacts{
    width: 55%;
    padding-top: 65px;
}
.map{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
}
.footerContactsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerContactsList li{
    width: 50%;
    margin-bottom: 60px;
}

.footerContactsList h5{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 17px;
}

.footerContactsList h5::before{
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    background: url(../assets/icons/Iocns.png) -51px -41px no-repeat;
}

.footerContactsList .address::before{
    background-position: -127px -39px;
}
.footerContactsList .email::before{
    background-position: -88px -41px;
}

.footerContacts .schedule::before{
    background-position: -189px -48px;
}

.footer .contactsList{
    gap: 0;
}
.footer .contactsList li{
    padding-left: 0;
    margin-bottom: 16px;
}
.footer .contactsList li::before{
    display: none;
}

.footerCopyRight{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerCopyRight p {
    font-size: 14px;
}
.footerCopyRight a{
    font-size: 14px;
    color: #F47A0B;
}

@media (max-width:1025px) {
    .bgGreyFooter{
        padding-top: 447px;
    }
    .map {
        width: 100%;
        height: 447px;
        left: 0;
    }

    .footerContacts{
        width: 80%;
    }
    .footerCopyRight{
        background-color: #F4F7FB;
    }
    
}

@media (max-width:672px) {
    .footerContactsList{
        flex-direction: column;
       }
    .footerContactsList li{
        width: 100%;
    }

    .footerCopyRight{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}