.stepSection{
    padding: 121px 10px 144px;
    background: url(../assets/imgs/StepBg.jpg) center/100% 100% no-repeat;
}

.stepSection .container{
    padding-bottom: 170px;
    overflow: hidden;
}
.stepSection .sectionTitle{
    text-align: center;
    margin-bottom: 68px;
}

.steps{
    display: flex;
    width: 1280px;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: -103px;
    left: -37px;
}

.steps span{
    display: block;
    width: 110px;
    height: 150px;
    padding-top: 30px;
    margin: 44px auto 40px;
    font-size: 56px;
    font-weight: 700;
    background: url(../assets/icons/stepvector.png) 0px 9px no-repeat;
}

.steps p{
    font-size: 16px;
}

.steps p:first-child span,
.steps p:last-child span{
    color: #fff;
    width: 130px;
    background: url(../assets/icons/stepVector1.png) -3px -5px no-repeat;
}

.steps p:last-child span{
    background: url(../assets/icons/stepVector6.png) 10px -2px no-repeat;
}

.stepLineThrough{
    display: block;
    width: 1194px;
    height: 8px;
    background: linear-gradient(90deg, #025392 0%, rgba(196, 196, 196, 0.00) 100%, #F4F7FB 100%);
    margin: 0 auto;
    position: relative;
}

